.row
  .col-md-6
    %h2 REGISTRO
    %p
      Registro Gratis. A través del cual usted será cliente de la red más amplia de abogados en el país con el menor costo.
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |u|
        = devise_error_messages!
        .container
          =u.fields_for :customer do |f|
            .row
              .col-xs-6
                = f.text_field :first_name, :placeholder => 'Nombres'
              .col-xs-6
                = f.text_field :last_name, :placeholder => 'Apellidos'
            .row
              .col-xs-6
                = u.email_field :email, :placeholder => 'Correo Electrónico'
            .row
              .col-xs-6
                = u.password_field :password , :placeholder => 'Contraseña'
              .col-xs-6
                = u.password_field :password_confirmation, :placeholder => 'Confirmar Contraseña'
            .row
              .col-xs-6
                = f.text_field :ci, :class=> 'inputtext _58mg _5dba', :placeholder => 'C.I/Pasaporte'
              .col-xs-6
                = f.text_field :company, :class=> 'inputtext _58mg _5dba', :placeholder => 'Compañia'

            .row
              %p Cumpleaños
              .btn.btn-link{:type => "button", "data-target" => "#myModal", "data-toggle" => "modal"} Porqué necesito ingresar mi cumpleaños?

              = content_tag :a, "Modal", :href => "#modal", :class => 'btn', :data => {:toggle => 'modal'}

              = modal_dialog :id => "modal",
                       :header => { :show_close => true, :dismiss => 'modal', :title => 'Modal header' },
                               :body   => 'This is the body',
                               :footer => content_tag(:button, 'Save', :class => 'btn')

              .form-group
                = f.date_select :date_of_birth, :start_year => 1900, :end_year => Time.now.year-18, prompt: { day: 'DIA', month: 'MES', year: 'AÑO' }
            .row
              %p Genero
              .radio-inline
                = f.radio_button :gender, 'Femenino'
                %label Mujer
              .radio-inline
                = f.radio_button :gender, 'Masculino'
                %label Hombre

            .row
              %p
                Dónde vives?
              .input
                = f.text_field :address, :placeholder => '*Dirección(Barrio / Calle / N #)'
            .row
              %label
                PAÍS
              .select.session
                = select_tag :country, options_from_collection_for_select(Country.all, "id", "name",@country.id), :placeholder => 'País'
              #states
                %label
                  Departamento/Estado
                .select.session
                  = select_tag :state, options_from_collection_for_select(@country.states, "id", "name"), :placeholder => 'Estado'
                #cities
                  %label
                    Ciudad
                  .select.session
                    = f.collection_select :city_id, @cities, "id", "name", :placeholder => 'Ciudad'
            .row
              %p
                Teléfonos
              .col-xs-6
                = f.text_field :phone, :placeholder => 'Casa'
              .col-xs-6
                = f.text_field :cell_phone, :class=> 'inputtext _58mg _5dba', :placeholder => 'Celular'
            %p
              Al hacer clic en Registrarse, usted acepta nuestros términos y que has leído en nuestra Política de Uso de Datos, incluyendo nuestro uso de cookies.
          %p
            = u.submit "Registrarse"

  .col-md-offset-6
    %h2 SOLUCIONES LEGALES
    %p SOLUCIONES LEGALES ofrece la más amplia gama de abogados y estudios jurídicos de Bolivia para ayudar a resolver sus problemas legales.
    = image_tag 'bolivia_color.png'




