= form_for @request do |f|
  - if @request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@request.errors.count, 'error')} prohibited this request from being saved:"
      %ul
        - @request.errors.full_messages.each do |msg|
          %li= msg

  %div.conmed
    .col-md-3
      .row
        .h4
          Que Nescesita?
          %ul.nav
            %li.dropdown.open
              %a.dropdown-toggle{"data-toggle"=>'dropdown'}
                Quienes somos?
                %ul.dropdown-menu{:class=>'dropdown-menu-right'}
                  = link_to ''
                  %li
                    = image_tag 'flechaizq.png'
                    %pre
                      Legu is a product of our Company, Enterprise for Legal Solutions SL Global (“SL Global” or the “Company”), duly constituted under the laws of the Plurinational State of Bolivia.
                    %pre
                      SL Global is a legal advisor. Through the Company, our clients have access to the most extensive network of lawyers to help them achieve their goals and solve their specific legal issues in a inexpensive, fast and efficient way, either through counseling or legal representation from a lawyer or a legal office, studio, consortium or partnership.
                    %pre
                      SL Global helps its clients find, evaluate and hire lawyers or legal offices, studios, consortiums or partnerships which are best qualified to provide them counseling or legal representation according to their unique personal, legal, and financial necessities.
                    %pre
                      SL GLobal´s advice is free. Our clients do not pay until they hire the services of a lawyer or a legal office, studio, consortium or partnership, based on the proposals submitted by our Company.

        .radio-inline
          = f.radio_button :type, 'Asesoramiento'
        %label Asesoramiento
        .radio-inline
          = f.radio_button :type, 'Litigio'
        %label Litigio
      %hr
      #litigio.control-group.non-visible
        .input-xxlarge.session
          = text_field_tag :lawyer_contrario, '', :placeholder => 'Abogado/Estudio Contrario'
        .input-xxlarge.session
          = text_field_tag :juzgado, '', :placeholder => 'Juzgado/Corte/Nro Expediente'
      %hr
      .row
        .h4 Tipo de Persona
        %ul.nav
          %li.dropdown.open
            %a.dropdown-toggle{"data-toggle"=>'dropdown'}
              What is a juridical person (legal entity)?
              %ul.dropdown-menu{:class=>'dropdown-menu-right'}
                = link_to ''
                %li
                  = image_tag 'flechaizq.png'
                  %pre
                    A juridical person, or legal entity such as a firm or Corporate body, that is not a single natural person, , but is authorized by law with duties and rights and is recognized as a legal authority having a distinct identity. Examples would include, but are not limited to: corporations, companies, partnerships, unions, joint stock companies, trusts, funds, international organizations, and sovereign States.


        .radio-inline
          = f.radio_button :type_person, 'Persona Fisica'
        %label Persona Fisica
        .radio-inline
          = f.radio_button :type_person, 'Persona Colectiva '
        %label Persona Colectiva
      %hr

      .row
        %h4
          Practice Area
        .select.session
          = select_tag :practice_area, options_from_collection_for_select(PracticeArea.all, "id", "name",@practice_area.id), :placeholder => 'Practice Area'
        #speciality_areas
          %h4
            Speciality Area
          .select.session
            = f.collection_select :speciality_area_id, @practice_area.speciality_areas, "id", "name", :placeholder => 'Speciality Area'


    .col-md-3
      .row
        %h4
          Case About
        .input-xxlarge.session
          = f.text_field :case_about
        %h4
          Ingreso Mensual
          %ul.nav
            %li.dropdown.open
              %a.dropdown-toggle{"data-toggle"=>'dropdown'}
                Why do I need to provide my monthly income?
                %ul.dropdown-menu{:class=>'dropdown-menu-right'}
                  = link_to ''
                  %li
                    = image_tag 'flechaizq.png'
                    %pre
                      In order to help our clients to evaluate and hire the best-qualified lawyer or legal office, studio, consortium or partnership according to their legal and financial needs, we need to identify their ability to pay.
                    %pre
                      Each lawyer or legal office, studio, consortium or partnership has its own fees or rates, depending on the clientele that it serves. Our Company, Enterprise for Legal Solutions SL Global (“SL Global” or the “Company”), requires the financial information from its clients in order to search for the lawyer or legal office, studio, consortium or partnership, which best fulfills their needs according to their ability to pay.

        .input-xxlarge.session
          = f.number_field :monthly_income
      %hr
      .row
        %h4
          Descripcion
      .textarea
        = f.text_area :description, :placeholder => "!Tell us Write a Brief Description of your legal problem. Please be sure to include names, dates and places", :rows => 5
      = f.hidden_field :state
      .actions
        = f.submit 'Save'

