%p#notice= notice

.container
  .row
    .col-md-8
      .h3 Solicitudes
      %p
        - if @requests.empty?
          .blank_slate_container
            %span.blank_slate No hay Solicitudes
        - else
          - @requests.each do |request|

            %hr

            %p.titases
              = link_to request.type+' - '+request.speciality_area.full_name, request

            %p= request.case_about

            %p= request.monthly_income

            %p= request.description

            %hr


        %br

    .col-md-3
      .md-3prof
        .h3 Perfil
        %hr
        %p Descripcion general del perfil

  .button_new
    = link_to 'Post New Request', new_request_path, :class => 'button_new'