%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

    %title= content_for?(:title) ? yield(:title) : "LEGU"

    = csrf_meta_tags

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "bootstrap.min.css", :media => "all"

    = javascript_include_tag "application", media: "all", "data-turbolinks-track" => true


    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]


  //%body{:class => "body #{controller_name}"}
  .body

    // = nav_bar :fixed => :top, :brand => "Fashionable Clicheizr 2.0", :responsive => true do
    //  = menu_group do
    //    = menu_item "Home", root_path
    //    = menu_divider
    //    = drop_down "Products" do
    //      = menu_item "Things you can't afford", root_path
    //      = menu_item "Things that won't suit you anyway", root_path
    //      = menu_item "Things you're not even cool enough to buy anyway", root_path
    //      - if current_user
    //        = menu_item "Bikes", fixed_wheel_bikes_path
    //
    //    = menu_item "About Us", root_path
    //    = menu_item "Contact", root_path
    //
    //  = menu_group :pull => :right do
    //    - if current_user
    //      = menu_item "Log Out", log_out_path
    //
    //      = form_for @user, :url => session_path(:user), html => {:class=> "navbar-form pull-right"} do |f|
    //        %p= f.text_field :email
    //       %p= f.password_field :password
    //        %p= f.submit "Sign in"


    .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          .navbar-left
            %a.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button",:href=>'#'}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

                .icon-bar
              = link_to image_tag('logo.jpg'), root_path
              %ul.ultop
                %li
                  = link_to 'My Requests',root_path
                %li
                  = link_to 'profile',root_path
                %li
                  = link_to 'messages',root_path

            - if user_signed_in?
              %div.cerrar
                %p
                  = current_user.email
                = link_to "Cerrar Sesi칩n", destroy_user_session_path, :method => :delete,:style=>'submit'

        .navbar-collapse.collapse.navbar-form.navbar-right
          - unless user_signed_in?
            = form_for(:user, :url => session_path(:user)) do |f|
              .form-group
                = f.email_field :email,:type=>'emailt', :autofocus => true, :class => 'form-control', :placeholder => "Correo electr칩nico"

              .form-group
                = f.password_field :password,:type=>'password2', :class => 'form-control', :placeholder => "Contrase침a"

              = f.submit "Iniciar Sesi칩n"
              %br
                = f.check_box :remember_me
                = f.label :Recordarme, :class =>'labelcn'





    .jumbotron
      .container-fluid
        .row
          /= bootstrap_flash
          = yield
        %hr
        %footer
          %p &copy; LEGU 2014
